.App {
  text-align: center;
}

.register-form {
  padding: 7%;
  height: 100vh;
  background-color: #9775ec;
}

.register-inputs {
  padding: 0.5%;
  margin: 1%;
}

.total-price-display {
  padding: 15px;
  font-size: 18px;
  margin: 15px;
  /*width: 250px;*/
  background-color: #f4edce;
  border-radius: 10px
}

.input-box {
  margin: 1%;
  padding: 1%;
  width: 250px;
  height: 20px;
  font-size: 15px;
}

.Button {
}

.submitButton {
  font-size: 20px;
  padding: 10px;
  margin: 1%;
  border-radius: 10px
}

.submitButton:hover {
  background-color: #d7c8fb;
}
